* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Alex";
  src: url(fontes/EQUALIZER.otf);
}
h1 {
  font-family: "Alex";
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(180deg, #edd4c4, #6bc8ac);
}
.nome {
  width: 700px;
  color: #3a3c66;
  font-size: 4rem;
}
.calculadora {
  width: 280px;
  height: 365px;
  background-color: #3a3c66;
  border-radius: 22px;
  box-shadow: 20px 12px 8px #2a3259;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}
.resultado {
  height: 90px;
  padding: 20px;
  font-family: "Alex";
  text-align: right;
  margin-left: -10px;
  color: #2a3259;
  font-size: 2.6rem;
}
.retangulo {
  width: 105%;
  height: 94%;
  border-left: 5px;
  border-radius: 18px;
  background-color: #fff;
}
.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
}
.botoes button {
  display: flex;
  justify-content: center;
  font-family: "Alex";
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 26px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}
.amal:hover {
  color: #2a3259;
  transition: 0.9s;
}
.amal1:hover {
  color: #2a3259;
  transition: 0.9s;
}
.amal {
  background-color: #fff1ce;
}
.amal1 {
  background-color: #e7bfa5;
}
.botao {
  background-color: #2a3259;
}
button:active {
  opacity: 0.9;
}
